{block content}
<div class="col">
	<a n:href="modalWindow:fetchData! content1" class="ajax"><button type="button" class="btn btn-primary">Test content 1</button></a>
	<a n:href="modalWindow:fetchData! content2" class="ajax"><button type="button" class="btn btn-success">Test content 2</button></a>
	<a n:href="modalWindow:fetchData! content3" class="ajax"><button type="button" class="btn btn-danger">Test content 3</button></a>

<!-- Button trigger modal -->

{control modalWindow}

</div>